/* SignIn SignUp Page css*/

.textAlignLeft{
    text-align: left !important;
}

.textAlignCenter{
    text-align: center !important;
}

.textAlignRight{
    text-align: right !important;
}

.formLabel{
    width:130px !important;
}

.formInput{
    width:370px !important;
}

.passwordToggle {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -30px;
}